.container {
    width: min(1110px, calc(100% - 32px));
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: 4rem;
}

// CSS for desktop version
@media (width > 550px) {
    
.grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px auto auto;
}

.feature {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    grid-template-columns: repeat(2, 1fr);

    &__image {
        grid-column: 1 / -1;
    }
}

.new {
    grid-row: 1 / 3;
}
.blog {
    grid-column: 1 / 4;

    .blog-stories {
        grid-template-columns: repeat(3, 1fr);
    }
}
}